.button {
	margin: 2px;
	border: 2px;
	padding: 2px;
	border-radius: 2px;
	background-color: lightgrey;
}

#message {
	margin: 5px;
}

#list {
	margin: 5px;
}

#startDate, #endDate {
	left: 10px;
}

label {
	float: left;
	width: 50px;
	text-align: right;
    margin-right: 0.5em;

    white-space: nowrap;
    overflow: hidden;
}